body{
  font-family: sans-serif;
  
}
header{
    color: White;
    font-size: 30px;
    background-color: grey;
    padding: 20px;
    margin: 30px;
    text-align: center;
    border-radius: 10px;
}
main{
    background-color: lightgrey;
    font-size: 20px;
    font-family: PlayfairDisplay;
}

iframe{
    padding-left: 200px;
    padding-top: 50px;
}
img{
    padding-left: 30px;
    padding-top: 20px;
    color: #787878;
}
nav a{
    text-decoration: none;
    color: black;
    padding: 10px;
    background-color: lightgrey;
    margin-left: 5;
    border-radius: 5px;
}
footer{
  background-color: grey;
  color: black;
  text-align: center;
  border-radius: 15px;
  padding: 5px;
}
a{
    text-decoration: none;
    color: black;
}